{% extends 'base.html.twig' %}

{#% block page_title %}
    People
{% endblock %#}

{% block breadcrumb %}
    <ol class="breadcrumb" style="background-color: inherit; margin-bottom: 0;">
        <li class="breadcrumb-item"><a href="#">Manage</a></li>
        <li class="breadcrumb-item active">People</li>
    </ol>
{% endblock %}

{% block body %}
    <h3>
        <div class="float-right">
            <a href="#" class="btn btn-success btn-sm">Add Person</a>
        </div>
        People
    </h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>
        </thead>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.firstName }}</td>
                <td>{{ person.lastName }}</td>
                <td>{{ person.email }}</td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">None</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
